   
   
   .card-img, .card-img-bottom, .card-img-top {
       width: 80%;
       margin: 20px auto;
   }

   .carousel-inner {
    height: 400px;
}

.bg-light {
    background-color: #e2dede;
    height: 90px;
}

.card {
    margin-top: 50px;
}

/* per iphone */

@media only screen and (max-width: 600px) {
.carousel-inner {
    height: 200px;
}}